.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar {
  flex-grow: 1;
  top: 0px;
}

.root {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  border-color: red;
  border-width: 2px;
  background: "#ffffdf";
}

.container {
  background: "#ffffdf";
  flex: 1;
}

.icon {
  margin-right: 20px;
}

.menuButton {
  margin-right: 2px;
}

.title {
  flex: 1 33.3%;
  font-size: 16px;
  height: 2.8rem;
  flex-grow: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nav_left {
  position: absolute;
  border-radius: 20px;
  right: 0px;
  margin-right: 0px;
  width: 100%;
}

.reserve-icon-container {
  background-color: transparent;
  height: 35px;
}

.reserve-icon {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: transparent;
}

.bottom-details {
  height: 5px;
  margin-top: 25px;
}

.product-price {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.shopping-cart {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.img-fit {
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
  flex: auto;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 20px;
  /* padding: 10px; */
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 2;
  flex-basis: 16%;
  margin: auto;
  flex: 1 33.3%;
  max-width: 170px;
  background-color: #e9f7ef;
}

.card-background {
  border-radius: 5px;
  height: 320px;
  min-width: 160px;
  margin: 0px 10px 0px 10px;
}

.MuiDrawer-paper {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  background-color: #00675b !important;
  -webkit-overflow-scrolling: touch;
}

.checkout-left {
  background-color: #fffff0;
  padding: 0px 10px 0px 10px;
}
