.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar {
  flex-grow: 1;
  top: 0px;
}

.root {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  border-color: red;
  border-width: 2px;
  background: "#ffffdf";
}

.container {
  background: "#ffffdf";
  flex: 1;
}

.icon {
  margin-right: 20px;
}

.menuButton {
  margin-right: 2px;
}

.title {
  height: 3.2rem;
  flex-grow: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav_left {
  position: absolute;
  border-radius: 20px;
  right: 0px;
  margin-right: 0px;
  width: 100%;
}

.reserve-icon-container {
  background-color: transparent;
  height: 35px;
}

.reserve-icon {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: transparent;
}

.bottom-details {
  height: 5px;
  margin-top: 25px;
}

.product-price {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.shopping-cart {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  flex: auto;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: #f5f5f5;
  margin-bottom: 30px;
  padding: 10px;
}
